<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-imeritas-org" value="https://nuget.pkg.github.com/imeritas-org/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-imeritas-org>
      <add key="Username" value="imeritas-org" />
      <!-- Set GITHUB_TOKEN env var or replace with a PAT that has read:packages scope -->
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github-imeritas-org>
  </packageSourceCredentials>
</configuration>
